body {
    
    font-family: "Avenir Next";
    
    }

  .header{
	 background-color: rgb(255, 255, 255);
	 color: rgb(255, 255, 255);
	 height: 90px;
 
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 20px;
  color: rgb(0, 0, 0);
}
.header-list{
	display:flex
	
}
.header-listiamge{
	padding: 25px;
}

.header-list1{
	background-color: rgb(192, 192, 192);;
	width:200px;
	padding: 25px;
	 font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    }
.header-list1:hover{
	background-color: rgb(128, 128, 128);
    padding: 25px;
    font-size: 24px;
}
	
.header-list2 {
	background-color: rgb(192, 192, 192);;
	width:200px;
	padding: 25px;
	 font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    }
.header-list2:hover {
	background-color: rgb(128, 128, 128);
    padding: 25px;
    font-size: 24px;
}
	
	
.header-list3{
	background-color: rgb(192, 192, 192);;
	width:200px;
	padding: 25px;
	 font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    }
.header-list3:hover{
	background-color: rgb(128, 128, 128);
    padding: 25px;
    font-size: 24px;
}
	

.header-list4{
	background-color: rgb(192, 192, 192);;
	width:200px;
	padding: 25px;
	 font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    }
.header-list4:hover{
	background-color: rgb(128, 128, 128);
    padding: 25px;
    font-size: 24px;
    }